<!DOCTYPE html>
<html lang="en">
<head>
  <title>IGB toolbox of awesomeness</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {% include "includes/css.html" %}

  <script type="text/javascript">
  	if (typeof eveintel == 'undefined') { eveintel = {debug: '{{debug}}'}; }
  </script>

</head>
<body>

  <nav class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container">
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div>
        <ul id="m_navbar" class="nav navbar-nav">
        </ul>
        {% if enable_login %}
        <ul class="nav navbar-nav navbar-right">
          <li>
          {% if ei_pilot.authUser %}
            <a href="/logout">Sign out ({{ ei_pilot.authUserShort }})</a>
          {% else %}
            <a href="/login">Sign in</a>
          {% end %}
          </li>
        </ul>
        {% end %}
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container -->
  </nav>

  <div class="container">
    <div id="m_errors" style="display:none;"></div>
    <div id="m_messages" style="display:none;"></div>

    <div id="m_trustmanager" style="display:none;" class="panel panel-danger">

      <div class="row">
        This tool requires you to add it to your list of trusted sites. This is necessary to
        enable the IGB to send further informations about your character and location along with each request to this site. Data about your corporation
        is used to check if you are allowed to access this application.
      </div>

      <div class="row">
        <button type="button" class="btn btn-primary btn-trustme">Ok, grant trust!</button>
      </div>

      <div class="row">
        <a href="javascript:window.location.reload();">Make sure to reload this page to apply changes.</a>
      </div>

      <div class="row">In case the button above doesn't work please add this site to your list of trusted sites manually
        using the IGB options.
      </div>

    </div>
  </div>

  {% module Template("includes/about.html", ei_pilot=ei_pilot, ei_debug=debug) %}

  {% for incl in ei_module_templates %}
  	{% module Template(incl, ei_pilot=ei_pilot, ei_debug=debug, ei_igb=igb) %}
  {% end %}


  {% include "includes/js.html" %}

</body>
</html>
